<!DOCTYPE html>
<html ng-app>
<head>
<title>agenda</title>
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	 <script src="controler.js"></script>
	  <script src="lib/angular/angular-animate.min.js"></script>
	 <link href="css/app.css" rel="stylesheet" type="text/css" />
</head>
<body >


<div ng-app="" ng-controller="ContactController">
    <form >
    <label>First</label> 
        <input type="text" name="name" ng-model="newload.first"/>
    <label>Second</label> 
        <input type="text" name="email" ng-model="newload.second"/>
    
        
        
     <input type="button" value="Save" ng-click="saveList()" />
    </form>
	
<div class="pick" >
<ul  >
<li ng-repeat="item in list" ng-class="{strike: deleted}" >
    <span>{{ item.first }}</span>
    <span>{{ item.second }}</span>
  
    <span  >
        <button  href="#" ng-click="edit(item.id)">edit</button> | 
        <button href="#" ng-click="delete(item.id)">delete</button>
		 <input type="checkbox" ng-model="deleted"> 
    </span>
 </li>

 </ul>
 
  
</div>
</div>

</body>
</html>